name: Deploy documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          # NOTE: We use 3.10+ typing syntax via future, which pdoc only
          # understands if it's actually run with Python 3.10 or newer.
          python-version: ">= 3.10"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: setup
        run: |
          make dev INSTALL_EXTRA=doc

      - name: build docs
        run: |
          make doc

      - name: upload docs artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: ./html/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      # NOTE: Needed to push to the repository.
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4.0.5
