name: check for updates to stable_abi.toml
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

permissions: {}

jobs:
  check-stable-abi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.x"

      - name: try to update stable_abi.toml
        run: |
          curl -o codegen/stable_abi.toml https://raw.githubusercontent.com/python/cpython/main/Misc/stable_abi.toml
          make codegen

      - name: create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "[BOT] update stable_abi.toml"
          branch: update-stable-abi
          branch-suffix: timestamp
          title: "[BOT] update stable_abi.toml"
          body: |
            This is an automated pull request, updating `stable_abi.toml` after a detected change.

            Please review manually before merging.
          assignees: "woodruffw"
          reviewers: "woodruffw"
