name: check for updates to stable_abi.toml
on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

permissions: {}

jobs:
  check-stable-abi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3

      - name: try to update stable_abi.toml
        run: |
          curl -o codegen/stable_abi.toml https://raw.githubusercontent.com/python/cpython/main/Misc/stable_abi.toml
          make codegen

      - name: create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "[BOT] update stable_abi.toml"
          branch: update-stable-abi
          branch-suffix: timestamp
          title: "[BOT] update stable_abi.toml"
          body: |
            This is an automated pull request, updating `stable_abi.toml` after a detected change.

            Please review manually before merging.
          assignees: "woodruffw"
          reviewers: "woodruffw"
          draft: true
